# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.history/

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node
web/node_modules/
web/dist/

# Runtime data
service/data/db/
service/data/log/
service/data/chroma/
service/data/upload/

# Local secrets
service/config.yaml

# Misc temp
*.log
web/.vscode/

